body {
    background: #d7d7db;
    height: 100vh;
}

textarea {
    margin-top: -1px;
    outline: none;
    border: none;
    background-color: white;
    background-image: url('notes_light.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 150px 90px;
    padding: 5px;
    width: 100%;
    height: 100vh;
    resize: none;
    font-family: inherit;
    font-size: inherit;
}

label, button {
    float: left;
    border: none;
    background: #d7d7db;
    padding: 8px;
    min-width: 36px;
    height: 36px;
    text-align: center;
    font-size: 14px;
}

label:hover, button:hover {
    box-shadow: inset 0 2px 0 #4a4a4f;
    background: white;
}

input[type="radio"]:checked+label, button:active {
    box-shadow: inset 0 2px 0 #ff0039;
    background: white;
}

.header [type=radio] {
    display: none;
}